* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: snow;
  }
  
  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: darkslategray;
  }
  
  main {
    display: flex; 
    justify-content: center;
  }
  
  div {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    align-items: center;
    color: black;
    margin: 30px;
    justify-content: space-evenly;
    width: 350px;
  }

  span {
    color: red
  }

  form {
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: darkslategray;
    color: snow;
    position: relative ;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button {
    background-color: #232323;
    width: 75px;
    height: 50px;
    color: turquoise;
    border: none;
    margin: 5px;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #location-container {
    width: 85%;
  }
  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #locations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .location-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .location-card {
    background-color: turquoise;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .location-city {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .location-cost {
    font-size: 15px;
    color: black;
    margin: 5px 0;
    text-align: center;
  }
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  
  .btns-container > button {
    width: 20px;
  }

#itinerary {
    width: 350px;
    height: 350px;
    background-color: darkslategray;
    color: snow;
    position: relative ;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;  
  }

ul {
    font-size: 24px;
    width: 100%;
}

li {
  cursor: pointer;
}